<h2>Nama : Septi Intan Amalia<h2>
<h2> Nim : H071191022<h2>

# Python!

Print Hello Python

In [1]:
print('Hello World!')

Hello World!

Variabel dan Tipe Data

In [2]:
# Variabel dengan tipe data integer atau bilangan bulat
var_int= 1

# Float/Double = Bilangan desimal
var_float= 0.5

# String = Berisi kumpulan karakter
var_string= 'hello'

# Boolean = Mempunyai 2 value, True atau False
var_bool= True

# List = Himpunan
var_list= [1, 2, 3]

# Tuple = Serupa dengan list tapi tidak bisa dirubah (immutable)
var_tuple= (1, 2, 3)

# Numpy array = Berfungsi mirip dengan list, 
# Namun dimodifikasi agar dapat melakukan operasi aritmatika layaknya matriks, juga lebih cepat
import numpy as np
var_arr= np.array([1, 2, 3])

# Dictionary = List tapi setiap elemennya berupa pasangan key dan value
var_dict= {'satu': 1, 'dua': 2, 'tiga':3}

# Set = Merupakan himpunan yang tidak memperbolehkan nilai duplikat
var_set= set([1, 2, 1])

Operasi Aritmetika dan Bitwise

In [3]:
# Operasi Aritmatika
add= 1+2
substract= 4-2
divide= 1/2
multiplication= 1*2
modulo= 4%2
power= 2 ** 2
square_root= 4 ** (-2)

# Operasi Bitwise
and_= 1&2
or_= 1|4
xor= 4^2
not_= ~4
left_shift= 4<<1
right_shift= 2>>1

In [4]:
print('Operasi Penjumlahan:',add)
print('Operasi Bitwise and:',and_)

Operasi Penjumlahan: 3
Operasi Bitwise and: 0

Pengkondisian (If-Else)

In [8]:
# Sintaks if else
num= 2

if(num==2):
    print('num is 2')
elif(num==3):
    print('num is 3')
else:
    print('num is not 2 or 3')
    
# Sintaks ternary
print('num is 2' if num==2 else 'num is 3')

num is 2
num is 2

Perulangan

In [9]:
# Sintaks for loop
list1= [1, 2, 3]

for i in list1:
    print(i)

print()    

# Sintkas while
idx= 0
while(idx!=len(list1)):
    print(list1[idx])
    idx+=1
    
print()
    
# Sintaks list comprehension
print('\n'.join([str(i) for i in list1]))

1
2
3

1
2
3

1
2
3

Fungsi

In [10]:
# Fungsi void = fungsi yang tidak mengembalikan apa2 dan hanya mengerjakan blok kode di dalamnya
def print_hello_world():
    print('Hello World!')
    
# Fungsi dengan return
def add(a, b):
    return a+b

In [11]:
print_hello_world()

print(add(1,2))

Hello World!
3